/* Global styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* Primary colors */
    --color-primary-dark: #000000;
    --color-primary-light: #FFFFFF;
  
    /* Secondary colors */
    --color-secondary-dark: #1C1C1C;
    --color-secondary-light: #E5E5E5;
    
    --font-primary: "Lato", sans-serif;
    --font-secondary: 'Gallery Modern', serif;

    --primary-transition: all 0.3s;

    --gradient-bg: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgb(37, 37, 37) 100%);
}

body {
    background: var(--color-primary-dark);
    color: var(--color-primary-light);
    font-family: var(--font-primary);
    font-weight: 300;
    font-size: 18px;
    /* line-height: 1.5; */
}

.galleryfont {
    font-family: var(--font-secondary);
}

.bg-primary-1 {
    background: var(--color-primary-dark);
}

.bg-primary-2 {
    background: var(--color-primary-light);
}

.bg-secondary-1 {
    background: var(--color-secondary-dark);
}

.bg-secondary-2 {
    background: var(--color-secondary-light);
}

.text-primary-1 {
    background: var(--color-primary-dark);
}

.text-primary-2 {
    background: var(--color-primary-light);
}

.text-secondary-1 {
    background: var(--color-secondary-dark);
}

.text-secondary-2 {
    background: var(--color-secondary-light);
}

.text-bold {
    font-weight: bold;
}

/* Font size classes */
.f-x1 { font-size: 1em; }
.f-x2 { font-size: 1.25em; }
.f-x3 { font-size: 1.5em; }
.f-x4 { font-size: 2em; }
.f-x5 { font-size: 2.5em; }
.f-x6 { font-size: 3em; }
.f-x7 { font-size: 3.5em; }
.f-x8 { font-size: 4em; }

/* Padding classes */
.p-x1 { padding: 10px; }
.pt-x1 { padding-top: 10px; }
.pr-x1 { padding-right: 10px; }
.pb-x1 { padding-bottom: 10px; }
.pl-x1 { padding-left: 10px; }
.px-x1 { padding-left: 10px; padding-right: 10px; }
.py-x1 { padding-top: 10px; padding-bottom: 10px; }

.p-x2 { padding: 20px; }
.pt-x2 { padding-top: 20px; }
.pr-x2 { padding-right: 20px; }
.pb-x2 { padding-bottom: 20px; }
.pl-x2 { padding-left: 20px; }
.px-x2 { padding-left: 20px; padding-right: 20px; }
.py-x2 { padding-top: 20px; padding-bottom: 20px; }

.p-x3 { padding: 30px; }
.pt-x3 { padding-top: 30px; }
.pr-x3 { padding-right: 30px; }
.pb-x3 { padding-bottom: 30px; }
.pl-x3 { padding-left: 30px; }
.px-x3 { padding-left: 30px; padding-right: 30px; }
.py-x3 { padding-top: 30px; padding-bottom: 30px; }

.p-x4 { padding: 40px; }
.pt-x4 { padding-top: 40px; }
.pr-x4 { padding-right: 40px; }
.pb-x4 { padding-bottom: 40px; }
.pl-x4 { padding-left: 40px; }
.px-x4 { padding-left: 40px; padding-right: 40px; }
.py-x4 { padding-top: 40px; padding-bottom: 40px; }

.p-x5 { padding: 50px; }
.pt-x5 { padding-top: 50px; }
.pr-x5 { padding-right: 50px; }
.pb-x5 { padding-bottom: 50px; }
.pl-x5 { padding-left: 50px; }
.px-x5 { padding-left: 50px; padding-right: 50px; }
.py-x5 { padding-top: 50px; padding-bottom: 50px; }

/* Margin classes */
.m-x1 { margin: 10px; }
.mt-x1 { margin-top: 10px; }
.mr-x1 { margin-right: 10px; }
.mb-x1 { margin-bottom: 10px; }
.ml-x1 { margin-left: 10px; }
.mx-x1 { margin-left: 10px; margin-right: 10px; }
.my-x1 { margin-top: 10px; margin-bottom: 10px; }

.m-x2 { margin: 20px; }
.mt-x2 { margin-top: 20px; }
.mr-x2 { margin-right: 20px; }
.mb-x2 { margin-bottom: 20px; }
.ml-x2 { margin-left: 20px; }
.mx-x2 { margin-left: 20px; margin-right: 20px; }
.my-x2 { margin-top: 20px; margin-bottom: 20px; }

.m-x3 { margin: 30px; }
.mt-x3 { margin-top: 30px; }
.mr-x3 { margin-right: 30px; }
.mb-x3 { margin-bottom: 30px; }
.ml-x3 { margin-left: 30px; }
.mx-x3 { margin-left: 30px; margin-right: 30px; }
.my-x3 { margin-top: 30px; margin-bottom: 30px; }

.m-x4 { margin: 40px; }
.mr-x4 { margin-right: 40px; }
.mb-x4 { margin-bottom: 40px; }
.ml-x4 { margin-left: 40px; }
.mx-x4 { margin-left: 40px; margin-right: 40px; }
.my-x4 { margin-top: 40px; margin-bottom: 40px; }

.m-x5 { margin: 50px; }
.mt-x5 { margin-top: 50px; }
.mr-x5 { margin-right: 50px; }
.mb-x5 { margin-bottom: 50px; }
.ml-x5 { margin-left: 50px; }
.mx-x5 { margin-left: 50px; margin-right: 50px; }
.my-x5 { margin-top: 50px; margin-bottom: 50px; }

.heading {
    font-size: 25px;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: var(--color-primary-light);
}

.btn {
    padding: 10px 15px;
    transition: var(--primary-transition);
}

.btn-primary {
    background: var(--color-secondary-dark);
    color: var(--color-primary-light);
    border: 1px solid var(--color-secondary-dark);
}

.btn-secondary {
    background: var(--color-secondary-light);
    color: var(--color-primary-dark);
    border: 1px solid var(--color-secondary-light);
}

.btn-primary:hover {
    background: none;
    color: var(--color-secondary-dark);
    border: 1px solid var(--color-secondary-dark);
    transition: var(--primary-transition);
    box-shadow: 5px 5px 0px 2px var(--color-secondary-dark);
    -webkit-box-shadow: 5px 5px 0px 2px var(--color-secondary-dark);
    -moz-box-shadow: 5px 5px 0px 2px var(--color-secondary-dark);
}

.btn-secondary:hover {
    background: var(--color-secondary-dark);
    color: var(--color-secondary-light);
    border: 1px solid var(--color-secondary-dark);
    transition: var(--primary-transition);
    box-shadow: 5px 5px 0px 2px var(--color-secondary-light);
    -webkit-box-shadow: 5px 5px 0px 2px var(--color-secondary-light);
    -moz-box-shadow: 5px 5px 0px 2px var(--color-secondary-light);
}

li {
    list-style: none;
}

.text-center {
    text-align: center;
}

.blur-up {
    filter: blur(20px);
    transition: filter 0.5s ease-out;
}
  
.blur-up.lazyloaded {
    filter: blur(0);
}

/* Cursor */
.cursor-glow {
    position: fixed;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    pointer-events: none;
    border-radius: 50%;
    background: transparent; /* No solid fill */
    box-shadow: 0 0 100px 40px rgba(255, 255, 255, 0.24); /* Large blur, no spread */
    transform: translate(-50%, -50%);
    transition: transform 0.05s ease-out;
    z-index: 9999;
}
.cursor {
    position: fixed;
    top: 0;
    left: 0;
    margin: -20px 0 0 -20px;
    width: 40px;
    height: 40px;
    pointer-events: none;
    border-radius: 50%;
    background: transparent; /* Keep transparent */
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.3); /* Thin white outline */
    transform: translate(-50%, -50%);
    transition: all 0.1s;
    z-index: 9999;
}
.cursor.hovering-link {
    width: 20px;
    height: 20px;
    margin: -10px 0 0 -10px;
    transition: all 0.1s;
}

/* Other stylings */
/*****************************
Home page
*****************************/
.wrapper {
    width: 100%;
    /* display: flex; */
}

/*****************************
Side bar
*****************************/
.side-bar {
    width: 250px;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #313131;
}

.side-section-one {
    width: 100%;
}

.brand {
    width: 100%;
    height: 80px;
    margin: 10px auto;
    border-bottom: 1px solid #313131;
    padding: 5px;
}

.brand a  {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand img {
    width: auto;
    height: 100%;
}

.navigation {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 0 auto 0 auto;
}

/* .navigation li,
.navigation li a {
    padding: 10px 0;
} */

.navigation li {
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    font-size: 0.8em;
}

.navigation li a {
    width: 100%;
    height: 100%;
    color: #bebebe;
    display: flex;
    align-items: center;
    padding-left: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: all 0.3s;
    border-bottom: 1px solid transparent;
}

/* No hover for active page */
.navigation li a:hover:not(.no-hover) {
    border-bottom: 1px solid #313131;
    font-size: 1.1em;
    color: #fff;
    transition: all 0.3s;
}

/* Sidebar footer */
.side-section-two {
    width: 90%;
    margin: auto auto 0 auto;
    font-size: 0.8em;
}

.ceo-info {
    width: 100%;
    height: 80px;
    background: var(--gradient-bg);
    display: flex;
    align-items: center;
    gap: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid #313131;
}

.ceo-avatar {
    width: 40px;
    height: 40px;
    outline: 2px solid #acacac;
    border-radius: 100%;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    margin-left: 20px;
}

.ceo-avatar img {
    width: 100%;
}

.ceo-pos {
    color: #a5a5a5;
}

.ceo-socials {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
    margin: 10px 0;
}

.social-icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--gradient-bg);
    font-size: 1.1em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid #313131;
}

.social-icon:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgb(58, 58, 58) 100%);
}

.ceo-footer {
    text-align: center;
    margin: 30px 0 20px 0;
    color: #a5a5a5;
}

.ceo-footer a {
    color: #c9c9c9;
    transition: all 0.3s;
}

.ceo-footer a:hover {
    color: #fff000;
    transition: all 0.3s;
}

.r-tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.r-tooltip:hover {
    color: #1abc9c;
}

.r-tooltip .r-tooltiptext {
    visibility: hidden;
    width: 230px;
    background-color: #222;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px 12px;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Position above the link */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    font-size: 14px;
}

.r-tooltip:hover .r-tooltiptext {
    visibility: visible;
    opacity: 1;
}

/*****************************
Main page
*****************************/
.main-page {
    margin-left: 250px; /* Same as .side-bar width */
    width: calc(100% - 250px); /* Responsive width based on sidebar */
}